
/* Sticky footer styles
-------------------------------------------------- */
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
html,
body {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -200px;
    /* Pad bottom by footer height */
    padding: 0 0 280px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 200px;
    border-top: 5px solid #a60303;
    background-color: #eee;
}

#footer .container {
    padding: 0 15px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar-wrapper {
    margin-top: 40px;
}
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.navbar-header .logo {
    margin-top: -51px;
    padding: 0 10px;
    float: left;
    margin-right: 7px;
}
.navbar-header img {
    width: 43px;
}
.navbar-header a.navbar-brand {
    color: #a60303;
}
.navbar-header a.navbar-brand:hover {
    color: #8d0000;
}
.navbar{
    border-bottom:1px solid #ccc;
    border-top: 2px solid #a60303;
}


.jumbotron {

}
.jumbotron.headerbackground {
    padding-top: 80px;
    height: 350px;
    background: url(img/koppelpoort_breed.jpg) no-repeat center top scroll;

    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

.page-content-header {
    padding-bottom: 20px;
    margin: 20px 0 20px;
}

.page-content-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.page-content-description {
    font-size: 20px;
    color: #999;
}

#calendar {
    width: 100%;
    margin: 0 auto;
}
#carousel-home {
	height: 400px;
    margin-bottom: 50px;
}
#carousel-home div.item {
    overflow: hidden;
    height: 400px;
}
#carousel-home div.item > img {
    min-width: 700px;
    margin: 0 auto;
}

@media (min-width:768px) {
    #carousel-home div.item > img {
        margin-top: -5%;
    }
}
@media (min-width: 992px) {
    #carousel-home div.item > img {
        margin-top: -12%;
    }
}
@media (min-width: 1200px) {
    #carousel-home div.item > img {
        margin-top: -19%;
    }
}
@media (min-width: 1850px) {
    #carousel-home div.item > img {
        margin-top: -22%;
    }
}

/*
.container.home {
	padding-bottom: 90px;
}
.container {
	padding: 0;
}
.home .carousel .item {
	height: 400px;
	overflow: hidden;
}
.home.topempty .carousel .item {
	height: 350px;
	overflow: hidden;
}
.carousel .item .contrast {
	display: inline-block;
}
*/

/* Sticky footer styles
-------------------------------------------------- */
/*
html {
	position: relative;
	min-height: 100%;
}
body {
	// Margin bottom by footer height
	margin-bottom: 280px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 280px;
}

#footer .container{
	height: 100%;
	border-top: 5px solid #a60303;
	background-color: #eee;
	padding: 0 15px;
}
*/